<section>
  <h3 class="mt-5 has-text-link is-size-4 ml-5 pl-2">Create New Post</h3>

  <form class="new-post-form">
    <div class="column is-two-thirds">
      <label for="post-title" class="ml-4">Title</label>
      <input type="text" id="post-title" name="post-title" class="input ml-3 is-small"/>
    </div>
    <div class="column is-two-thirds">
      <label for="post-text" class="ml-4">Blog Text</label>
      <textarea name="post-text" class="textarea ml-3  is-small"></textarea>
    </div>
    <button type="submit" class="button is-primary m-5 pl-3">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h3 class="mt-5 has-text-link is-size-4 ml-4 pl-2">Your Posts</h3>
  <ol class="post-list p-3 ml-3">
    {{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="title is-size-5 m-0 mt-3">
          <a href="/post/{{id}}">{{post.title}}</a>
        </div>
        <div>
          {{post.blog_text}}
        </div>
        <div class="meta is-size-7">
          By {{post.user.username}} on {{format_date post.created_at}}
          <a href="/post/{{id}}">{{post.comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
      </article>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>