<article>
  <a href="/dashboard" class="m-4"> &larr; Back to dashboard</a>
  
  <h3 class="mt-5 has-text-link is-size-4 ml-5 pl-2">Edit Post </h3>
  <form class="edit-post-form">
    <div class="column is-two-thirds">
      <label for="post-title" class="ml-4">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" class="input ml-3 is-small"/>
    </div>
    <div class="column is-two-thirds">
      <label for="post-text" class="ml-4">Blog Text</label>
      <textarea name="post-text" value="{{post.blog_text}}" class="textarea ml-3  is-small"></textarea>
    </div>
    <div>      
      <a href="/post/{{post.id}}" class="ml-4 pl-3">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="button is-primary ml-5">Save post</button>
    <button type="button" class="delete-post-btn button is-danger">Delete post</button>
  </form>
</article>

  <form class="comment-form mt-5 p-3 ml-3">
  <div>
    <textarea name="comment-body" class="textarea columns is-small"></textarea>
  </div>

  <div>
    <button type="submit" class="button mt-5 is-primary">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>