<article class="post p-3 ml-3">
  <div class="title is-size-5 m-0 mt-3">
    {{post.title}}
  </div>
  <div>
    {{post.blog_text}}
  </div>
  <div class="meta is-size-7">
    By {{post.user.username}} on {{format_date post.created_at}}
    {{post.comments.length}} {{format_plural "comment" comments.length}}
  </div>
</article>

{{!-- Comment form --}}
{{#if loggedIn}}
  <form class="comment-form mt-5 p-3 ml-3">
  <div>
    <textarea name="comment-body" class="textarea columns is-small"></textarea>
  </div>

  <div>
    <button type="submit" class="button mt-5 is-primary">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>